---
import BaseHead from "../../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import Layout from "../../layouts/layout.astro";
import PostFeed from "../../components/PostFeed";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Layout>
    <div class="grid gap-4 md:max-w-2xl mt-6">
      <h1 class="h2-heading">Blog</h1>
      <div class="grid gap-3">
        <p class="description">
          Welcome to my blog! Here you'll find a collection of my thoughts and
          musings on a variety of topics. I hope you enjoy reading them as much
          as I enjoy writing them.
        </p>
      </div>
      <PostFeed searchEnabled client:load />
    </div>
  </Layout>
</html>
