---
const { link, title } = Astro.props;
---

<a
  href={link}
  class="py-1 px-2 w-fit border-border transform duration-200 hover:text-primary text-muted-foreground hover:bg-primary/10 items-center border rounded-md bg-card flex gap-2 cursor-pointer"
>
  <slot />
  <span class="text-foreground description">{title}</span>
</a>
